#DS_Store files
*.DS_Store*

# SSH related files
*id_rsa*
*id_dsa*
*id_ecdsa*
*authorized_keys*
*known_hosts*

# History files
*history*

# st3 projects
st3/User/Projects/*

# vim things
vim/.netrwhist
vim/bundle/*
